<!doctype html>
<html lang="en">

<head>
   <meta charset="utf-8">
   <title>{{ title|default('Contact') }}</title>
</head>

<body>
   <h1>{{ contact.firstName }} {{ contact.lastName }}</h1>
   <p>Phone: {{ contact.phone }}</p>
   <p>Address: {{ contact.address }}</p>
   <p>Age: {{ contact.age }}</p>
</body>

</html>